<nav class="navbar navbar-expand-lg navbar-light py-0 navbar-height-setting">
    <div class="container-fluid">

        <a class="navbar-brand py-0" routerLink=''>

            <h1><span class="logo">Pizza</span>App</h1>
        </a>

        <div class="user-and-item justify-content-end py-0 p-4">
            <div class="navbar-items">

                <a class="nav-link-user" aria-current="page" [routerLink]="['register']"
                    title="Zaloguj się lub utwórz konto">
                    <i class="far fa-user"></i>
                </a>

                <a class="nav-link-user" aria-current="page" [routerLink]="['pay']" title="Koszyk">
                    <i class="fas fa-shopping-basket"></i>

                </a>

                <a class="nav-link-user" aria-current="page" title="Wyloguj">
                    <i class="fas fa-sign-in-alt"></i>
                </a>

            </div>
        </div>
    </div>
</nav>
<app-menu-list></app-menu-list>

<br><br><br>
<section class="info-kontakt">
</section>
 
 <main class="m-section" role="main">
    <section class="container">
      <div class="u-text-center">
  <header class="m-page-subheader m-page-subheader--center">
    <h2 class="m-page-subheader__heading">
      <span class="m-page-subheader__sup-title">
        Masz pytania?
      </span>
      <span class="m-page-subheader__title">
        Skontaktuj się z nami
      </span>
    </h2>
    <p class="m-page-subheader__description">
      Napisz lub zadzwoń do nas!
    </p>
  </header>

  <div data-selected="restauracja-mayami">
    

    
      <div class="" data-restaurant-visible="restauracja-mayami">
        <div class="" id="restauracja-mayami"
             data-address="Restauracja PizzaApp, al. Tysiąclecia Państwa Polskiego 7 25-314 Kielce" data-city="Kielce"
             data-restaurant-visible="restauracja-mayami">

          <div class="m-section m-section--small">
            <div class="m-bubbles">
              <div class="container">
                <ul class="m-bubbles__list">
                  
                    <li class="m-bubbles__item">
                      <div class="m-bubbles__bubble m-bubbles__bubble--fa">
                        <span class="icon-home" aria-hidden="true"></span>
                      </div>
                      <h3 class="m-heading m-bubbles__title">
                        Dane adresowe
                      </h3>
                      <p class="u-m0">
                        Restauracja PizzaApp
                        <br>
                        al. Tysiąclecia Państwa Polskiego 7 25-314 Kielce
                      </p>
                    </li>
                  
                  
                    <li class="m-bubbles__item">
                      <div class="m-bubbles__bubble m-bubbles__bubble--fa">
                        <span class="icon-phone" aria-hidden="true"></span>
                      </div>
                      <h3 class="m-heading m-bubbles__title">
                        Dane kontaktowe
                      </h3>
                      <p class="u-m0">
                        
                        
                          Telefon:
                          
                            <a href="tel:987654321" class="u-link-unstyled">987-654-321</a>
                          
                        
                      </p>
                    </li>
                  
                  <li class="m-bubbles__item">
                    <div class="m-bubbles__bubble m-bubbles__bubble--fa">
                      <span class="icon-time" aria-hidden="true"></span>
                    </div>
                    <h3 class="m-heading m-bubbles__title">
                      Godziny otwarcia
                    </h3>




<!--      KOMENTARZ -------- TU JESZCZE COŚ BĘDZIE                                -->               


<br><br>
<h2 class="here">Mapa dojazdu</h2>
<br><br>
<router-outlet id="register"></router-outlet>
<div class="container-to-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517.4276135388836!2d20.637867015963725!3d50.87879556428818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471827be35849801%3A0x99149978917cac90!2sPolitechnika%20%C5%9Awi%C4%99tokrzyska!5e0!3m2!1spl!2spl!4v1622442695894!5m2!1spl!2spl"
    frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
</div>
 <br><br>