.navbar-brand h1{
    font-family: "Brush Script MT", cursive; font-style: italic; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.logo{
    color: red;
    
}

nav{
    height: 80px;
}

nav{
    border-bottom: 1px solid rgba(97, 97, 97, .4);
}

footer{
    width: 100%;
    margin-top: 6rem;
    background: whitesmoke;
}
.footer-headline{
    font-weight: 700;
}

.spacing{
    margin-top: 5rem;
    width: 100%;
    height: 1px;
}
footer ul {
    list-style: none;
    padding-left: 0!important;
}

footer ul li{
    padding-bottom: .2rem;
}

.footer-rights{
    width: 100%;
    background-color: black;
}

.cpy{
    font-size: .7rem;
}

.fa-user,
.fa-shopping-basket,
.fa-sign-in-alt
{
    color: black;
    font-size: 1.6em;
    padding-right: 1em;
    margin-top: .3rem;
    transition: color .5s;
    cursor: pointer;
}

.fa-shopping-cart{
    color: black;
    font-size: 1.4em;
    padding-right: 1em;
    transition: color .5s;
}


.header{background:rgb(0, 178, 255);color:#fff;}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-right: 20px;
    margin-left: -20px;
}

#nav-contact{
    text-align: center;
    margin-bottom: 50px;
}

.about-data{
    min-height: 300px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 2rem;
}

.about-data-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.about-data-section ul{
    list-style: none;
}

.icon{
    font-size: 55px;
    color:rgb(255, 30, 0);
}


#clear{
    clear:both;
}

h3{
    font-size:larger;
}

h4{
    color:rgb(255, 0, 0);
}

/*h6 { font-weight:normal; }*/

h6 {
    font-weight:normal;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    cursor: pointer;
  }
  h6:before, h6:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  h6:before {
    margin-right: 10px
  }
  h6:after {
    margin-left: 10px
  }

.u-m0{
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.container-to-map{
    text-align: center;
    margin-bottom: 0px;
}

iframe{
    width: 100%;
    height: 100%;
}
.footer-headline {
    font-weight: bold;
}


a:link
{
   color: rgb(98, 98, 98);
   text-decoration: none;
}
/*nie robić a:visited !!!! */

a:hover
{
   color: rgb(199, 31, 59); 
}

a:active
{
   color: red;
}