.fa-user,
.fa-shopping-basket,
.fa-sign-in-alt
{
    color: black;
    font-size: 1.6em;
    padding-right: 1em;
    margin-top: .3rem;
    transition: color .5s;
    cursor: pointer;
}

.fa-user:hover,
.fa-shopping-basket:hover,
.fa-sign-in-alt:hover,

.logo{
    color: red;
}

nav{
    border-bottom: 1px solid rgba(97, 97, 97, .4)
}

@media only screen and (max-width: 600px) {
    .offer-box{
      min-width: 300px;  
  
    }

    .col{
        padding-top: 1rem;
    }
  }
  
.container-to-map{
    width: 100%;
    height: 450px;
    margin-top: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    background-color: #fff;
}

.navbar-brand h1{
    font-family: "Brush Script MT", cursive; font-style: italic; font-variant: normal; font-weight: 700; line-height: 26.4px;
}