<nav class="navbar navbar-expand-lg navbar-light py-0 navbar-height-setting">
    <div class="container-fluid">

        <a class="navbar-brand py-0" routerLink=''>

            <h1><span class="logo">Pizza</span>App</h1>
        </a>

        <div class="user-and-item justify-content-end py-0 p-4">
            <div class="navbar-items">

                <a class="nav-link-user" aria-current="page" [routerLink]="['register']"
                    title="Zaloguj się lub utwórz konto">
                    <i class="far fa-user"></i>
                </a>

                <a class="nav-link-user" aria-current="page" [routerLink]="['pay']" title="Koszyk">
                    <i class="fas fa-shopping-basket"></i>

                </a>

                <a class="nav-link-user" aria-current="page" title="Wyloguj">
                    <i class="fas fa-sign-in-alt"></i>
                </a>

            </div>
        </div>
    </div>
</nav>
<app-menu-list></app-menu-list>

<br><br><br>
<!--      KOMENTARZ --------    -->               


<h4>Masz pytania? </h4>
<h1>Skontaktuj się z nami </h1>
<h6>Napisz lub zadzwoń do nas!</h6>

<div class="about-data">
    <h3>Dane adresowe</h3>
    <p class="u-m0">
        Restauracja PizzaApp
        <br>
        al. Tysiąclecia Państwa Polskiego 7 
        <br>
        25-314 Kielce
    </p>
</div>
<div class="about-data">
    <h3>Dane kontaktowe</h3>
    <p class="u-m0">
        Telefon:  <a href="tel:987654321" class="u-link-unstyled">987-654-321</a>
    </p>
</div>
<div class="about-data">
    <h3>Godziny otwarcia</h3>
    <ul>
        <li>
            poniedziałek 13:00 - 22:00
        </li>
        <li>
            wtorek 11:00 - 22:00
        </li>
        <li>
            środa 11:00 - 22:00
        </li>
        <li>
            czwartek 11:00 - 22:00
        </li>
        <li>
            piątek 11:00 - 00:00
        </li>
        <li>
            sobota 11:00 - 00:00 
        </li>
        <li>
            niedziela 14:00 - 22:00
        </li>
    </ul>
</div>
<div class="about-data">
    <h3>Godziny dostawy</h3>
    <ul>
        <li>
            poniedziałek 13:00 - 21:00
        </li>
        <li>
            wtorek 11:00 - 21:00
        </li>
        <li>
            środa 11:00 - 21:00
        </li>
        <li>
            czwartek 11:00 - 21:00
        </li>
        <li>
            piątek 11:00 - 23:00
        </li>
        <li>
            sobota 11:00 - 23:00 
        </li>
        <li>
            niedziela 14:00 - 21:00
        </li>
    </ul>
</div>
<div id="clear"></div>








<!--      KOMENTARZ --------     -->               


<br><br>
<h2 class="here">Mapa dojazdu</h2>
<br><br>
<router-outlet id="register"></router-outlet>
<div class="container-to-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517.4276135388836!2d20.637867015963725!3d50.87879556428818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471827be35849801%3A0x99149978917cac90!2sPolitechnika%20%C5%9Awi%C4%99tokrzyska!5e0!3m2!1spl!2spl!4v1622442695894!5m2!1spl!2spl"
    frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
</div>
 <br><br>