<nav class="navbar navbar-expand-lg navbar-light py-0 navbar-height-setting">
    <div class="container-fluid">

        <a class="navbar-brand py-0" routerLink=''>

            <h1><span class="logo">Pizza</span>App</h1>
        </a>

        <div class="user-and-item justify-content-end py-0 p-4">
            <div class="navbar-items">

                <a class="nav-link-user" aria-current="page" [routerLink]="['register']"
                    title="Zaloguj się lub utwórz konto">
                    <i class="far fa-user"></i>
                </a>

                <a class="nav-link-user" aria-current="page" [routerLink]="['pay']" title="Koszyk">
                    <i class="fas fa-shopping-basket"></i>

                </a>

                <a class="nav-link-user" aria-current="page" title="Wyloguj">
                    <i class="fas fa-sign-in-alt"></i>
                </a>

            </div>
        </div>
    </div>
</nav>
<app-menu-list></app-menu-list>
<section class="info-kontakt">
</section>
