.fa-user,
.fa-shopping-basket,
.fa-sign-in-alt
{
    color: black;
    font-size: 1.6em;
    padding-right: 1em;
    margin-top: .3rem;
    transition: color .5s;
    cursor: pointer;
}

.fa-user:hover,
.fa-shopping-basket:hover,
.fa-sign-in-alt:hover,

.logo{
    color: red;
}

nav{
    border-bottom: 1px solid rgba(97, 97, 97, .4)
}

@media only screen and (max-width: 600px) {
    .offer-box{
      min-width: 300px;  
  
    }

    .col{
        padding-top: 1rem;
    }
  }
  
.container-to-map{
    width: 100%;
    height: 450px;
    margin-top: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    background-color: #fff;
}

.navbar-brand h1{
    font-family: "Brush Script MT", cursive; font-style: italic; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

#nav-contact{
    text-align: center;
    margin-bottom: 50px;
}

.about-data{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;
}

.icon{
    font-size: 47px;
    color:rgb(243, 79, 79);
}

#clear{
    clear:both;
}

h3{
    font-size:larger;
}

h4{
    color:rgb(255, 0, 0);
}

/*h6 { font-weight:normal; }*/

h6 {
    font-weight:normal;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    cursor: pointer;
  }
  h6:before, h6:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  h6:before {
    margin-right: 10px
  }
  h6:after {
    margin-left: 10px
  }

.u-m0{
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.container-to-map{
    text-align: center;
    margin-bottom: 0px;
}

iframe{
    width: 100%;
    height: 100%;
}
.footer-headline {
    font-weight: bold;
}


a:link
{
   color: rgb(98, 98, 98);
   text-decoration: none;
}
/*nie robić a:visited !!!! */

a:hover
{
   color: rgb(199, 31, 59); 
}

a:active
{
   color: red;
}