
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e803'; } /* '' */
.icon-clock-1:before { content: '\e804'; } /* '' */
.icon-truck-1:before { content: '\e805'; } /* '' */