<div class="container-list">
<ul class="list my-2">
    <li class="list-item">
      <a class="item" routerLink="menu" routerLinkActive="active">Menu</a>
    </li>
    <li class="list-item">
        <a class="item" [routerLink]="['/home/card']" routerLinkActive="router-link-active" >Zamów</a>
      </li>
      <li class="list-item">
        <a class="item" href="#">Dostawa</a>
      </li>
    <li class="list-item">
        <a class="item" href="#">Na wynos</a>
      </li>
      <li class="list-item">
        <a class="item" href="#">Kontakt</a>
      </li>
  </ul>
  
</div>